@import 'base/styles';
.services-container {
    background-image: url('../img/services-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    color: $base-color;
    text-transform: uppercase;
    box-shadow: 0 2px 10px #9cd2ba;
    .image-description {
        text-align: left;
        padding: 5% 2% 0 2%;
        transform: scale(1);
        transition: 1s;
        h3 {
            font-size: 120%;
            font-weight: bold;
        }
        p {
            font-size: 80%;
            opacity: 0;
            transition: 1s;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.35);
            transition-timing-function: ease-in-out;
            p {
                opacity: 1;
            }
        }
        &::before {
            content: '';
            display: block;
            width: 100px;
        }
    }
}