@import 'base/styles';

.contact__image {
    text-decoration: none;
    font-size: 80%;
    border-bottom: transparent 3px solid;
    padding-bottom: 5px;
    transition: 0.5s;
    color: $base-color;
    width: 50px;
    height: 50px;
}

.contact__image:hover {
    border-bottom-color: $base-color;
    transform: scale(1.5,1.5);
    color: $base-color;
    text-decoration: none;
}

.contact__item {
    width: 200px;
    display: flex;
    justify-content: space-around;
}