@import 'base/styles';

.image-description {
    width: 250px;
    text-align: center;
    
    &:hover {
        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        animation-duration: 2s;
    }

    &__image {
        width: 50px;
        height: 50px;
    }
}

