.footer {
    margin: 50px -40px 20px -40px;
    background-image: linear-gradient(to bottom, black, #051715, black);
}

.footer__separator {
    border: 2px solid $base-color;
    margin: 30px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .footer__content {
        flex-direction: row;
    }
}

.footer__icon {
    width: 35px;
}

.footer__link, .footer__icon {
    text-decoration: none;
    font-size: 80%;
    border-bottom: transparent 3px solid;
    padding-bottom: 5px;
    transition: 0.5s;
    color: $base-color;
}

.footer__link:hover, .footer__icon:hover {
    border-bottom-color: $base-color;
    transform: scale(1.5,1.5);
    color: $base-color;
    text-decoration: none;
}