@import 'variables';
@import 'animations', 'footer', 'menu';

* {
    font-family: $base-font;
    font-size: 25px;
    color: $base-color;
}

.title, .subtitle {
    font-family: 'Lexend Peta', sans-serif;
    color: $base-color; 
    text-align: left;
    text-transform: uppercase;
    font-size: 120%;
}

@media (min-width: 1024px) {
    .title, .subtitle {
        font-size: 200%;
    }
}

.parrafo {
    color: $base-color;
}

.logo {
    width: 90px;
}

@media (min-width: 1024px) {
    .logo {
        width: 140px;
    }
}

.logo:hover {
    animation-name: bailar;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

html body {
    background-color: black;
}

section {
    animation-duration: 2s;
    animation-name: aparecer;
}

@media (min-width: 1024px) {
    section {
        height: 100vh;
    }
}
